{% load static %}
<link rel="stylesheet" href="{% static '/css/email.css' %}">
<script src="https://kit.fontawesome.com/fa7463cb25.js" crossorigin="anonymous"></script>

<div class="img-logo">
    <img width="100px" src="/static/image/Google-Photos-Logo-2015.png" alt="">
</div>
<div class="reset-pss">
    <h2>To reset your password you need to put email that is associated to that account to continue and reset the password</h2>
</div>
<div class="item">
    <i class="fa-solid fa-truck-fast fa-flip" style="color: #2ea34b;"></i>
</div>
<form method="post">
    {% csrf_token %}
    <div class="container">
        {{form}}
    </div>
    <button>Send the instructions <i class="fa-sharp fa-solid fa-envelope-circle-check fa-shake" style="color: #50db29;"></i></button>
</form>
